<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome  <%= name %></h2>
    <a href="/logout">Logout</a>

    <form action="/priceform" method="GET">
    <button type="submit">SELF DEVELOPED</button></form>

    <form action="/apiform" method="GET">
    <button type="submit">SHYPLITE PRICE CALCULATOR</button>
</form>
    
</body>
</html>