<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <button onclick="goBack()">Go Back</button>

    <h1 style="text-align: center;">Wrong Password!!!!!!!!!!!!!</h1>
    <h2 style="text-align: center;margin-top: 8%;">Login Again</h1>
        <div style="text-align: center;">
    <form action="/login" method="POST">
       <h3>Enter Your Email: <input  type="text" name="email" placeholder="Enter email"></h3>
        <h3>Enter Your Password:<input type="text" name="password" placeholder="Enter Password"></h3>

        <input style="font-size: larger;" type="submit" value="submit">
    </form><br>

    <button style="text-align: center;font-size: larger;" ><a  href="/register">Register</a></button>
</div>
    <script>
        function goBack() {
          window.history.back();
        }
        </script>
</body>
</html>