<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body style="text-align: center; margin-top: 10%;">
    <bold><h1 >Login </h1></bold>
    <form action="/login" method="POST">
        <h3>Enter Your Email  :       <input type="text" name="email" placeholder="Enter email"><br><br>

        </h3>
        <h3>Enter Your Password  :      <input type="text" name="password" placeholder="Enter Password"><br>
        </h3>
        <br>
        <input style="font-size: larger;" type="submit" value="submit">
    </form><br>
   <button><a style="font-size: larger;" href="/register">Register</a></button> <br><br>
  
    
</body>
</html>