<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
          table, th, td {
          border:1px solid black;
        }
        #main{
            width:100%;
            height: 500px;
            display: flex;
            text-align: center;

        }
        .shyplite{
            margin: auto;
            width: 700px;
            height:500px;
            justify-content: space-between;
            display: flex;
            text-align: center;

        }
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title style="text-align:center;"> Price Calculator</title>
</head>
<body >
    
    <h1 style="text-align: center;">Shyplite Price Calculator</h1> 
   <br><br><br>

    

    <form action="/apiCalculatedPrice" method="POST">
    
    <h4>Enter Source Code <input type="text" name = "sourcePin" placeholder="Enter Source Pin" >
    </h4>
    <h4>Enter Destination Code <input type="text" name ="destinationPin" placeholder="Enter Destination Pin">
    </h4>
    
    <br>
    <select name="orderType" id="orderType2" onclick="myfun()">
        <option value="prepaid">Prepaid</option>
        <option value="cod"   >Cod</option>
        <option value="reverse">Reverse</option>
      </select>
    <br>
    
  
    <h5>Dimension(cm)  <input type="text" name = "length" placeholder="length">
        <input type="text" name = "width" placeholder="width">
        <input type="text" name = "height" placeholder="height"> Weight(kg)        <input type="text" name = "weight" placeholder="weight">
        </h5>
        
        <br>
        
<div id="my2">
	<input type="text" name="invoiceValue" placeholder="Invoice value">
</div>

        <br>

    <h4>Price Of The Package <button type="submit" >Get Price</button></h4>
    
        
<div id = "main">
    <div class = "shyplite">

        <%if(shypliteData?.price ){%>
            <table style="margin-left: 250px;">
               <tr>
                   <th>MODE</th>
                   <th>Shyplite PRICE</th>
               </tr>
               <%var keys = Object.keys(shypliteData ? shypliteData["price"] : {})%>
               <%for(let i=0;i<keys.length;i++){%>
               <tr>
                   <td><%=keys[i]%></td>
                   <td><%=shypliteData.price[keys[i]]%></td>
               </tr>
            
               <%}%>
            </table>
            <%}%> 
    </div>

</div>

    </form>


    <script>
        setInterval(()=>{
            var val = document.getElementById("orderType2").selectedOptions[0].value;
            if(val == "cod"){
            document.getElementById("my2").style.display = "block";
            }
            else{
            document.getElementById("my2").style.display = "none";
            }
       },100)
    </script>
    

</body>
</html>









