<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title style="text-align:center;"> Price Calculator</title>
</head>
<body >
    <!-- <button onclick="goBack()">Go Back</button><button style=" margin-left: 90%;" ><a href="/logout">Logout</a></button> -->
    
    <h1 style="text-align: center;">Price Calculator</h1> 
   

    

    <form action="/apiCalculatedPrice" method="POST">
    
    <h4>Enter Source Code <input type="text" name = "sourcePin" placeholder="Enter Source Pin" >
    </h4>
    <h4>Enter Destination Code <input type="text" name ="destinationPin" placeholder="Enter Destination Pin">
    </h4>
    
    <br><br>
    <select name="orderType" id="orderType2" onclick="myfun()">
        <option value="prepaid">Prepaid</option>
        <option value="cod"   >Cod</option>
        <option value="reverse">Reverse</option>
      </select>
    <br>
    
  
    <h4>Enter Dimension Of Package  <input type="text" name = "length" placeholder="length">
        <input type="text" name = "width" placeholder="width">
        <input type="text" name = "height" placeholder="height">
        <input type="text" name = "weight" placeholder="weight">
        <br>
        
<div id="my2">
	<input type="text" name="invoiceValue" placeholder="Invoice value">
</div>

        <br>
        <br>

    
    
    <h4>Price Of The Package <button type="submit" >Get Price</button></h4>
    
        

    <%if(shypliteData){%>
       
            <%var keys = Object.keys(shypliteData.price)%>
            <%for(let i=0;i<keys.length;i++){%>
                <li> <%=keys[i]%> &nbsp; <%= shypliteData.price[keys[i]]%> </li>
            <%}%>
       
    <%}%>

    </form>


    <script>
        setInterval(()=>{
            var val = document.getElementById("orderType2").selectedOptions[0].value;
            if(val == "cod"){
            document.getElementById("my2").style.display = "block";
            }
            else{
            document.getElementById("my2").style.display = "none";
            }
       },100)
    </script>
    

</body>
</html>









